extends layout

block content
    h1= title
    a(href="angular") Angular
    p Comming soon...
    img(src="images/mate.png")
    ul#ices
    - for (i = 0; i < 10; i++)
        li: a(href="ices/#{i}") アイス#{i}