.red {
  color: #f00;
}
.blue {
  color: #00f;
}
.solid-border {
  border: 1px solid #000;
}
.dotted-border {
  border: 1px dotted #000;
}
li {
  margin-top: 10px;
}
.border {
  border: 1px solid #f00;
}
