@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.header {
  border-bottom: 1px solid #e5e5e5;
}
.editor {
  margin-top: 20px;
}
.editor input {
  width: 80%;
}
.todo-list {
  margin-top: 20px;
  margin-left: 20px;
}
.cleanup {
  margin-top: 20px;
}
.delete {
  text-decoration: line-through;
}
